/*
  Rishiom Konchada Portfolio
  Personal Profile: Styles
*/

/* BOX */
/* Box Model Method */
{
  box-sizing: border-box;
}

/* TAG STYLES */
/* Split Style is implemented through this code */
article {
  background: darkorange;
  border-bottom: 2px solid black;
}

body {
  /* Element Spacing */
  margin: 0 auto;
  /*Element Sizing */
  width: 960px;
  background: deepskyblue;
}

h1 {
  font-family: "Garamond", serif;
  font-size: 72px;
  color: gold;
  margin: 0;
  text-align:center;
}

h2 {
  background: black;
  color: gold;
  font-weight: normal;
  font-family: Times New Roman, sans-serif;
  margin: 0;
  height: 30px;
  font-size: 24px;
  padding: 12px 0;
  text-align: center;
  margin-bottom: 12px;
}

header {
  padding: 16px 0;
  justify-content: center;
  align-items: center; 
}

p {
  margin: 12px;
  font-size: 17px;
}

section {
  margin: 12px 0;
}

/* ID STYLES */
#second-section {
  background: lightsalmon;
}
